<!DOCTYPE html>

<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Welcome to this POC to check the Weather or Stocks by Carl Seaholm</h1>
        </div>
        <div class="menu">
            <a class="menuItem" href="/">Home</a>
            <a class="menuItem" href="/weather">Weather</a>
            <a class="menuItem" href="/stocks">Stocks</a>
        </div>
        <div class="content">
            <p>This is the home page. This simple app written with JavaScript is meant to give a brief glimpse into the
                understanding of how to use API endpoints to fetch data and manipulate the data for a desired output.
            </p>
        </div>
    </div>
</body>

</html>